footer
    .container
        .row
            div(class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1")
                p(class="text-muted")
                    a(href="/atom.xml")
                        div
                            img(src="/img/feed.png" alt="Feed Link")
                p(class="copyright text-muted")= "Theme by "
                    strong= "Pucechan "
                    |- Inspired by 
                    a(href="https://github.com/levblanc/hexo-theme-aero-dual")="Aero Dual by levblanc"
                p(class="copyright text-muted")= "Powered by "
                    a(href="https://hexo.io/")="Hexo"