.container
    .row
        div(class="col-lg-10 col-md-10 col-md-offset-1")
            ul.pagination
                if page.prev
                    li.previous
                        a(href=url_for(page.prev_link))
                            span.symbol-left= "<"
                            span= __('prev')
                if page.next
                    li.next
                        a(href=url_for(page.next_link))
                            span= __('next')
                            span.symbol-right= ">"